{% extends 'users/base.html' %}
{% load static %}
{% block button %}
<a href="{% url 'users:homepage' %}"><img src="{% static 'backbutton.png' %}" height="40px" width="40px" style="margin-left:20px"></a>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<!--    <div class="container-fluid" style="background-color: rgba(0, 0, 0, 1);padding:10px;">-->
<!--        <a style="padding-right:20px;font-weight:bold" href="http://127.0.0.1:8000">Home</a>-->
<!--        {% if user.is_authenticated %}-->
<!--        <a style="padding-right:20px;font-weight:bold" href="{% url 'users:logout' %}">Log out</a>-->
<!--        {% endif %}-->
<!--    </div>-->
<!--<div class="form-wrapper" style="border: 2px solid blue;border-radius: 30px;padding:20px;width:30%;margin:auto;margin-top:100px;margin-bottom:100px;background-color: rgba(155, 155, 155, 0.8);">-->
<div class="form-wrapper" id="demo">
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        {{form1|crispy}}
        <!--            {% for field in form %}-->
        <!--                <div class="fieldWrapper">-->
        <!--                    {{ field.errors }}-->
        <!--                    {{ field.label_tag}} {{ field }}-->
        <!--                    {% if field.help_text %}-->
        <!--                        <p class="help">{{ field.help_text|safe }}</p>-->
        <!--                    {% endif %}-->
        <!--                </div>-->
        <!--            {% endfor %}-->
        <input class="btn btn-success" type="submit" value="Submit">
    </form>
    <br>
    <a style="color:white" href="{% url 'users:login' %}">Already have an account</a>
</div>
{% endblock %}