<div class="container-fluid"
     style="background-color: rgba(155, 155, 255, 0.6);margin-top:50px;padding:20px;">
    {% if user.is_authenticated %}
    {% if not user_profile.driver %}
    <a style="padding-right:20px;font-weight:bold" style="color:red;padding-right:10px;"
       href="{% url 'users:regisdriver' user.id %}">Register for driver!</a>
    {% else %}
    <a style="padding-right:20px;font-weight:bold"
       href="{% url 'users:editinfo' user.id %}">Edit Your Driver info</a>
    {% endif %}

    <a style="padding-right:20px;font-weight:bold" style="color:red;padding-right:10px;"
       href="{% url 'users:changepassword' user.id %}">Change Password</a>
    <a style="padding-right:20px;font-weight:bold"
       href="{% url 'users:display' user.id %}">Rides</a>
    <a style="padding-right:20px;font-weight:bold" href="{% url 'users:logout' %}">Log
        out</a>
    {% endif %}
</div>